a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7912be8c a { text-decoration: none; }
#menu_7912be8c_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7912be8c_hr { background-color: #646464; height: 1px; border: none; }
#menu_7912be8c_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7912be8c_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7912be8c_entry:hover span { color:#FFFFFF !important; }
		.menu_7912be8c_mainMenuEntry { text-align: center; }
		.menu_7912be8c_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7912be8c_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7912be8c .mobileEntry { display: none; } 
		#menu_7912be8c .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7912be8c .mobileEntry { display: block; } 
			#menu_7912be8c .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#placeh_4c46cf44 { box-sizing: border-box; border-radius: 15px; position:absolute; left:19%; top:0%; width:61%; min-height:297px; background-color:#FFFFFF; background-image: url(rc_images/whatsapp_image_2021_09_27_at_8_05_13_pm.jpeg); background-position:top left; background-size:cover; border: 1px solid #A0A0A0;  }
.textstyle2 { text-align:center; }
#menu_7912be8c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:61%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style5 { position:absolute; width:82px; height:38px; left:72px;  }
.style6 { position:absolute; width:81px; height:38px; left:154px;  }
.style7 { position:absolute; width:98px; height:38px; left:235px;  }
.style8 { position:absolute; width:74px; height:38px; left:333px;  }
.style9 { position:absolute; width:62px; height:38px; left:407px;  }
